In [24]:
# !pip install kaggle
# !pip install zipfile
# !pip install pandas
# !pip install openpyxl


import pandas as pd 
import zipfile  # extract file downloaded from kaggle
import kaggle   # download dataset programatically from kaggle

In [5]:
# downlaod dataset using kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to c:\Users\Saint\OneDrive\Desktop\OneDrive\Current\Personal Projects\London Bike Sharing Project

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 620kB/s]
100%|██████████| 165k/165k [00:00<00:00, 600kB/s]

In [6]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [7]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv('london_merged.csv')

In [8]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
bikes.shape

(17414, 10)

In [10]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [11]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [13]:
# specify new column names 
new_cols_dict={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# rename columns to specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [14]:
# change to percentage value (i.e. between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [16]:
# season dictionary to map integers onto actual season names
season_dict={
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# weather dictionary to map integers onto actual weather scenarios
weather_dict={
    '1.0':'Clear',
    '2.0':'Scattered Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with Thunderstorm',
    '26.0':'Snowfall'
}

# SEASON
# Change data type to string
bikes.season = bikes.season.astype('str')
# map new values
bikes.season = bikes.season.map(season_dict)

# WEATHER
# Change data type to string
bikes.weather = bikes.weather.astype('str')
# map new values
bikes.weather = bikes.weather.map(weather_dict)

In [17]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [23]:
# writing the final dataframe to an excel file for use in Tableau visualisation
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')